@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* Shared Style start */
.primary-styles{
    font-family: "Quicksand", serif;
    max-width: 70%;
    margin: 0 auto;
}
.primary-bg{
    background-image: url(../images/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 50%);
}
.raleway-fonts{
    font-family: "Raleway", serif;
}
/* Nav Style start */
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.nav-left-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
}
.nav-left-title{
    font-size: 2rem;
}
.nav-middle-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-middle-content ul{
    list-style-type: none;
    text-decoration: none;
    gap: 2rem;
}
.nav-middle-content li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-middle-content .text-color1{
    font-weight: 700;
}
.text-color1{
    color: #FEA301;
}
.text-color2{
    color: #01ACFD;
}
.text-color3{
    color: #05D4DF;
}
.text-color4{
    color: #5D58EF;
}
.nav-btn{
    color: white;
    font-size: 1.25rem;
    padding: 0.6rem 3.75rem;
    border: none;
    border-radius: 12px;
    background-color: #FEA301;
}
/* Nav Style end */

/* Banner Style start */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size: 3.5rem;
    line-height: 3.75rem;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.banner-btn{
    color: white;
    font-size: 1.25rem;
    padding: 0.6rem 3rem;
    border: none;
    border-radius: 12px;
    background-color: #111111;
    font-family: "Quicksand", serif;
    font-weight: 700;
}
.banner-img{
    width: 100%;
}
/* Banner Style end */

/* Standard Curriculum Section Style start  */
.standard-curri-title{
    font-size: 2.8rem;
    text-align: center;
    margin-top: 3.75rem;
    margin-bottom: 5rem;
}
.standard-card-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75rem;
    margin-bottom: 5rem;
}
.standard-card{
    text-align: center;
    border: 1px solid #DEF5FF;
    border-radius: 18px;
    background-color: white;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 30%),rgb(255, 255, 255);
}
.sc-image-01{
    margin-top: 3.5rem;
}
.standard-card-01-title{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.standard-card-01-description{
    font-size: 1rem;
    margin-top: 2rem;
    color: #808080;
}
.standard-card-btn{
    font-size: 1rem;
    color: #64C8FF;
    margin-top: 2rem;
    margin-bottom: 3.25rem;
    font-weight: 700;
}
.standard-card-02{
    border: 1px solid #FFF4DC;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 30%),rgb(255, 255, 255);
}
.standard-card-03{
    border: 1px solid #F2E8FF;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.standard-card-btn-02{
    color: #F0AA00;
    margin-top: 2.5rem;
}
.standard-card-btn-03{
    color: #8700FF;
    margin-top: 2.5rem;
}
.icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 3.75rem;
}
.icon-01{
    background-color: #FEA301;
    font-size: 1.5rem;
    color: white;
    padding: 14px 22px;
    border-radius: 50%;
}
/* Standard Curriculum Section Style end  */

/* Our Stories Section Style start */
/* Our Stories Section Style end */

/* Navbar Responsive start */
@media screen and (max-width: 425px) {
    .nav-left-title,
    .nav-middle-content,
    .nav-btn
    {
        display: none;
    }
    .nav-container{
        max-width: 100%;
    }
    .nav-content{
        margin: 0px;
        display: block;
        padding: 12px 16px;
        border: 1px solid #FEA301;
    }
    .nav-logo{
        width: 42px;
        height: 42px;
    }
}
@media screen and (min-width: 426px) and (max-width: 1920px) 
{
    .nav-left-item i{
        display: none;
    }
}
/* Navbar Responsive end */

/* Banner Responsive start */
@media screen and (max-width: 425px){
    .banner-container{
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 0 16px;
        margin-top: 8px;
    }
    .banner-img{
        padding: 20px 10px;
    }
    .banner-title{
        text-align: center;
        font-size: 2.3rem;
        line-height: 3rem;
    }
    .banner-title br{
        display: none;
    }
    .banner-description{
        text-align: center;
        font-size: 16px;
    }
    .banner-description br{
        display: none;
    }
    .banner-primary-button{
        text-align: center;
        margin-bottom: 8px;
    }
    .banner-btn{
        font-size: 16px;
        padding: 10px 24px;
        border-radius: 8px;   
    }
}
/* Banner Responsive end */

/* Standard Curriculum Section Responsive start */
@media screen and (max-width: 425px) {
    .standard-card-container{
        max-width: 100%;
        padding: 0rem 1rem;
    }
    .standard-card-box{
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        margin-bottom: 1.25rem;
    }
    .standard-curri-title{
        font-size: 1.7rem;
        margin-top: 2.5rem;
        margin-bottom: 1.25rem;
    }
    .icon-item{
        display: none;
    }
}
/* Standard Curriculum Section Responsive end */

/* Our Stories Section Responsive start */
@media screen and (max-width: 425px){
    .our-stories-left-content{
        display: none;
    }
    .our-stories-title{
        margin-top:2.5rem;
        margin-bottom: 1.25rem;
        
    }
    .our-stories-btn{
        font-size: 11px;
        padding: 8px 12px;
        position: relative;
        right: -1.3rem;
    }
    .our-stories-container{
        margin: 0px;
    }
    .our-stories-img2{
        gap: 11px;
        position: absolute;
        padding: 0 1rem;
    }
    .our-stories-img{
        padding: 0rem;
    }
}
/* Our Stories Section Responsive end */